
<div class="ui main container">
	<h1 class="ui dividing header">{{'views.header.transaction' | translate}}</h1>

	<form class="ui form segment" id="searchTransactionForm">
		<div class="fields">
			<div class="eight wide field">
				<div ng-show="hasRole('ROLE_ADMIN')">
					<h4 class="ui dividing header">{{'views.transaction.tutorialCentre' | translate}}</h4>
					<div class="field">
						<select class="ui search selection dropdown" name="tutorialCentreId" id="tutorialCentreId">
							<option value=""></option>
						</select>
					</div>
				</div>
				<h4 class="ui dividing header">{{'views.transaction.recordTime' | translate}}</h4>
				<div class="two fields">
					<div class="field">
						<label>{{'views.transaction.month' | translate}}</label>
						<div class="ui search selection dropdown">
							<input type="hidden" name="month" value=""> <i class="dropdown icon"></i>
							<div class="default text"></div>
							<div class="menu">
								<div class="item" data-value="1">1</div>
								<div class="item" data-value="2">2</div>
								<div class="item" data-value="3">3</div>
								<div class="item" data-value="4">4</div>
								<div class="item" data-value="5">5</div>
								<div class="item" data-value="6">6</div>
								<div class="item" data-value="7">7</div>
								<div class="item" data-value="8">8</div>
								<div class="item" data-value="9">9</div>
								<div class="item" data-value="10">10</div>
								<div class="item" data-value="11">11</div>
								<div class="item" data-value="12">12</div>
							</div>
						</div>
					</div>
					<div class="field">
						<label>{{'views.transaction.year' | translate}}</label> <input type="text" name="year" maxlength="4">
					</div>
				</div>
				<div class="ui button" ng-click="getTransactions()">
					<i class="search icon"></i>{{'button.search' | translate}}
				</div>
			</div>
		</div>
		<div class="ui error message"></div>
	</form>

	<h1 class="ui dividing header">{{'views.subheader.list' | translate}}</h1>
	<h4 class="ui header">{{'views.transaction.grandTotal' | translate}} : {{ grandTotal | currency }}</h4>
	<div>
		<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
	</div>
</div>

