	<div class="ui main container"  ng-show="hasRole('ROLE_ADMIN')">
		<h1 class="ui dividing header">{{'views.header.user' | translate}}</h1>

		<div class="ui attached message" ng-show="editMode">
			<p>{{'views.user.editing' | translate}} {{editingUser}}</p>
		</div>
		<form class="ui form attached fluid segment" id="userForm">
			<div id="responseMessage" class="ui message hidden"></div>
			<div class="ui error message"></div>
			<input type="hidden" name="id">
			<div class="two fields">
				<div class="field">
					<label>{{'views.user.username' | translate}}</label> <input type="text" placeholder="{{'views.user.username' | translate}}" name="username">
				</div>
				<div class="field">
					<label>{{'views.user.password' | translate}}</label> <input type="password" placeholder="{{'views.user.password' | translate}}" name="password">
				</div>
			</div>
			<div class="three fields">
				<div class="field">
					<label>{{'views.user.role' | translate}}</label> 
					<select class="ui fluid selection dropdown" name="role" id="roleDropdown">
						<option value=""></option>
						<option value="ROLE_ADMIN">Admin</option>
						<option value="ROLE_USER">User</option>
					</select>
				</div>
				<div class="field">
					<label>{{'views.user.tutorialCentre' | translate}}</label> 
					<select class="ui search selection dropdown" name="tutorialCentreId" id="tutorialCentreId">
						<option value=""></option>
					</select>
				</div>
				<div class="field">
					<label>{{'views.user.active' | translate}}</label>
					<div class="ui toggle checkbox" id="activeCheckboxDiv">
						<input type="checkbox" name="active" id="activeCheckbox" /><label for="activeCheckbox" id="activeLabel">{{'views.user.active.false' | translate}}</label>
					</div>
				</div>
			</div>
			<button class="ui button" ng-click="submitForm()" ng-class="editMode ? 'green':'primary'">
				<div ng-if="!editMode">
					<i class="add user icon"></i>{{'button.create' | translate}}
				</div>
				<div ng-if="editMode">
					<i class="edit icon"></i>{{'button.update' | translate}}
				</div>
			</button>
			<button class="ui reset button" ng-click="editMode = false">
				<i class="erase icon"></i>{{'button.reset' | translate}}
			</button>

		</form>

		<h1 class="ui dividing header">{{'views.subheader.list' | translate}}</h1>
		<div>
			<div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-pagination class="grid"></div>
		</div>
	</div>

